.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px; /* Increased vertical padding */
    background-color: #13294b; /* UIUC Navy Blue */
    color: white;
    border-bottom: 1px solid #e7e7e7;
    position: fixed; /* Keep it fixed */
    top: 0;
    width: 100%;
    z-index: 1000;

}
body {
    padding-top: 110px; /* Adjust based on header height */
}
.header-button {
    padding: 12px 20px; /* Increased padding for larger buttons */
    text-decoration: none;
    color: #ff552e; /* UIUC Orange */
    border-radius: 20px;
    margin: 0 5px;
    font-size: 20px; /* Larger font size for button text */
}

.faBell, .faUser, .faSearch, .faFilter {
    font-size: 24px; /* Larger icon size */
    margin-right: 10px;
}

.header-button:hover {
    background-color: #ff552e; /* UIUC Orange */
    color: white; /* Text color when hovered */
}

.search-form {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    color: black;
}

.search-icon {
    position: absolute;
    right: 20px;
    color: #ccc;
    font-size: 24px; /* Increased size for the search icon */
}

.search-icon:hover {
    color: #13294b;
    cursor: pointer;
}

.search-input {
    padding: 8px 12px;
    padding-right: 30px;
    border-radius: 40px;
    border: 1px solid #ccc;
    margin-right: 8px;
    width: 100%;
}

.search-and-filter {
    display: flex;
    align-items: center;
}

.search-form {
    margin-right: 10px;
}

.filter-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12px; /* Increased padding for larger filter icon area */
    border-radius: 20px;
    background-color: #f8f9fa;
    border: 1px solid #13294b; /* UIUC Navy Blue */
}

.filter-icon:hover {
    background-color: #e7e7e7;
}

.left-header-section, .right-header-section {
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.notifications-icon {
    background-color: #ff552e; /* UIUC Orange */
    color: white;
    border-radius: 50%;
    font-size: 16px; /* Larger font size for notification text */
    padding: 4px 8px; /* Adjust padding for better alignment */
    position: relative;
    top: -15px; /* Adjusted positioning */
    right: -15px;
}




.right-header-section {
    position: relative; /* Ensure the dropdown is positioned relative to this */
    /* Additional styles if needed */
}

.user-profile-dropdown {
    position: relative; /* For absolute positioning of the dropdown */
    display: inline-block; /* Needed for proper spacing */
    /* Additional styles if needed */
}

.user-profile-dropdown .dropdown-content {
    display: none; /* Hide the dropdown content by default */
    position: absolute; /* Position the dropdown content absolutely within user-profile-dropdown */
    background-color: #E84A27; /* Background color for the dropdown - UIUC often uses white backgrounds */
    min-width: 120px; /* Minimum width of the dropdown */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Shadow for the dropdown */
    z-index: 1; /* Ensure the dropdown is above other content */
    border: 1px solid #c0c0c0; /* Optional: border to define the dropdown */
}

.user-profile-dropdown:hover .dropdown-content {
    display: block; /* Show the dropdown content on hover */
}

.user-profile-dropdown .dropdown-content a {
    color: white; /* UIUC Blue for text */
    padding: 15px 20px; /* Increased padding for larger dropdown links */
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px; /* Larger font size for dropdown text */
}

.user-profile-dropdown .dropdown-content a:hover {
    background-color: #E84A27; /* UIUC Orange for background on hover */
    color: #fff; /* White text on hover */
}