.home-page {
  display: flex;
  flex-direction: column;
}

.books-section,
.furniture-section,
.cloth-section {
  margin-bottom: 40px;
}

.section {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-section {
  background-color: #3498db; 
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.books-section h2{
  font-size: 40px;
}

.furniture-section {
  background-color: #e63946; /* UIUC Navy Blue */
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.furniture-section h2{
  font-size: 40px;
}

.cloth-section {
  background-color: #f2c53d; /* UIUC Gold */
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.cloth-section h2{
  font-size: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: white;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.price {
  font-size: 18px;
  margin-top: 10px;
}

.more {
  background-color: #f05a28; /* UIUC Orange */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.more:hover {
  background-color: #e55324; /* Darker UIUC Orange on hover */
}

.less {
  background-color: #f05a28; /* UIUC Orange */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.less:hover {
  background-color: #e55324; /* Darker UIUC Orange on hover */
}


.carousel-image {
  width: 100%;
  height: 250px; /* Use 100% to take the full height of the parent container */
  object-fit: cover; /* Ensures the image covers the entire container */
  border-radius: 8px; /* Add border-radius for rounded corners */
}

.carousel-section {
  margin: 20px 0;
  padding: 20px;
  background: linear-gradient( 
    to right, 
    #eea2a2 0%, 
    #bbc1bf 19%, 
    #57c6e1 42%, 
    #b49fda 79%, 
    #7ac5d8 100%
  ); 
  border-radius: 8px;
  position: relative;
}

.carousel-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #f05a28; /* Change color to orange */
  text-align: center;
}

/* Styles for the react-slick carousel */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-slide {
  transition: transform 0.3s;
  height: auto; 
}


.slick-dots li {
  margin: 0 5px;
}

.slick-dots button {
  font-size: 0;
  line-height: 1;
  display: block;
  padding: 5px;
  color: #555;
  background-color: transparent;
  border: 1px solid #555;
  border-radius: 50%;
  cursor: pointer;
  height: 12px;
  width: 12px;
}

.slick-dots button:hover {
  color: #fff;
  background-color: #555;
}

.carousel-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}


/* Add this rule to set a fixed height for the images within the carousel */
.carousel-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6)); /* Add a gradient overlay */
  pointer-events: none; /* Allow clicks to pass through the overlay */
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #fff;
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  z-index: 1;
  cursor: pointer;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}
