.item-detail-page {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 1200px;
    margin: 5px auto;
    height: 100vh; /* Full height of the viewport */
    background-color: #f9f9f9; /* Light grey background */
    text-align: center; /* Center content */
    position: sticky; /* Make it stick to the top within its container */
}

.item-detail-page h1 {
    font-size: 1.5em; /* Smaller font size for the user name */
    color: #333; /* Dark grey for better contrast */
    margin-top: 30px; /* Increased space above the user name */
    margin-bottom: 30px; /* Increased space below the user name */
    font-weight: 500; /* Medium font weight */
}

.user-image-frame {
    margin-top: 30px;
    width: 150px;
    height: 150px;
    margin: 30px auto 30px; /* Increased space below the image frame */
    border: 3px solid #e84a27; /* UIUC Orange for the frame */
    border-radius: 50%; /* Circular frame */
    overflow: hidden;
    display: inline-block;
    background-color: #fff;
}

.rating {
    color: #333; /* Changed text color for better contrast */
    margin: 0; /* Reset margin */
    display: inline-block; /* Inline block for side-by-side */
    vertical-align: middle; /* Align text vertically */
}

.contact-button {

    color: #e84a27;
    border: none;
    border-radius: 4px;
    padding: 10px 15px; /* Adjusted padding to fit icon */
    margin-left: 20px;
    display: inline-flex; /* Inline-flex to center the icon vertically */
    align-items: center;
    justify-content: center;
    font-size: 1.2em; /* Adjusted for icon size */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s; /* Transition for hover effects */
}

.contact-button:hover {
    background-color: #c7431d; /* Darken the orange on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Larger shadow on hover for a 'lifted' effect */
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px; /* Increased space above the container */
}

/* Style for the item cards */
.item-container .item {
    border-radius: 10px; /* Rounded corners for item cards */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    transition: box-shadow 0.3s; /* Smooth transition for shadow on hover */
}

.item-container .item:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Larger shadow on hover for a 'lifted' effect */
}

/* Ensure this selector matches the class or element of your view count */
.item-container .views {
    font-size: 0.8em; /* Smaller font size for views */
    color: #777; /* Lighter text color for less emphasis */
}
